* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
}

body a:visited {
  text-decoration: none;
  color: #fd7e00;
}

header {
  font-family: "Questrial", sans-serif;
  background-image: url(../Recursos/Imgback1.jpg);
  background-position: center, center;
}

header .header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

header .header-top .logo {
  margin: 1.5rem;
  height: 6rem;
}

header .header-top .logo img {
  display: block;
  width: 100px;
}

header .header-top h1 {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 4px 4px #212529;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  text-decoration: overline;
  text-decoration-color: #ebbc12;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 25px;
  margin-top: 1.5rem;
}

header .header-top h1 span {
  color: #ebbc12;
}

@media screen and (min-width: 100px) and (max-width: 748px) {
  header .header-top h1 {
    font-size: 70px;
  }
}

header .header-top .Registro {
  display: flex;
  flex-direction: column;
}

header .header-top .Registro a {
  color: #212529;
}

header .header-top .Registro a:visited {
  color: #212529;
}

header .header-top .Registro .header-boton-login {
  cursor: pointer;
  font-size: 15px;
  background-color: white;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}

header .header-top .Registro .header-boton-login:hover {
  background-color: #ebbc12;
}

header .header-top .Registro .header-boton-register {
  cursor: pointer;
  font-size: 15px;
  color: #262424;
  background-color: #ebbc12;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}

header .header-top .Registro .header-boton-register:hover {
  background-color: white;
}

header .barra-arriba .logito {
  margin: 2rem;
}

header .barra-arriba #navbarNav {
  letter-spacing: 5px;
  margin-right: 2rem;
  justify-content: space-between;
}

main {
  width: 100%;
  font-family: "Questrial", sans-serif;
  background-color: #272a2e;
  background-image: url(../Recursos/Fondo.jpg);
  margin: 0;
  padding: 1rem;
}

main h2 {
  color: whitesmoke;
  text-shadow: 2px 2px #212529;
  padding-top: 4rem;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: dotted;
  text-shadow: 2px 2px #212529;
  text-align: center;
}

main .cuerpo {
  display: flex;
  justify-content: center;
}

main .cuerpo .card {
  background-color: rgba(19, 19, 19, 0.505);
  color: whitesmoke;
  width: 100%;
  margin: 2rem;
  padding: 2rem;
  padding-bottom: 5rem;
  text-align: justify;
  inline-size: 1.5;
  border-radius: 20px;
}

main .cuerpo .card p {
  text-align: center;
  padding-bottom: 2rem;
}

main .cuerpo .card .card-title {
  font-size: 1.6rem;
  text-align: center;
}

main .cuerpo .card .link {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

@media screen and (min-width: 100px) and (max-width: 748px) {
  main .cuerpo .card {
    width: 100%;
  }
}

main .cuerpo .card-title {
  font-weight: bold;
  padding: 2rem;
  letter-spacing: 4px;
}

main .medio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../Recursos/Fondo.jpg);
  padding: 3rem;
  margin: 1rem;
  border-radius: 10px;
}

main .medio .progress {
  width: 70%;
}

main .medio a {
  text-decoration: none;
  color: whitesmoke;
}

main .medio a:visited {
  color: gold;
  text-decoration: none;
}

main .medio h3 {
  color: whitesmoke;
  text-shadow: 2px 2px #212529;
  font-size: 100;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 100px) and (max-width: 748px) {
  main .medio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  font-family: 'Questrial', sans-serif;
  background-color: #212529;
  border: 1.5rem solid #272a2e;
}

footer h3 {
  color: whitesmoke;
  text-shadow: 3px 3px #212529;
  font-style: normal;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 4px;
  padding: 4rem;
}

footer h3 span {
  color: #ebbc12;
}

footer ul {
  list-style: none;
}

footer ul:visited {
  color: #ebbc12;
}

footer ul:hover {
  size: 20px;
}

footer .nav-item {
  align-items: center;
  text-align: center;
}

footer .nav-item:hover {
  color: #212529;
  transform: scale(1.2);
  transition: 1s;
}

footer .barra-abajo {
  padding-bottom: 1rem;
}

@media screen and (min-width: 100px) and (max-width: 748px) {
  footer .barra-abajo .nav-link {
    display: none;
  }
}

footer .bi-shop {
  font-size: 1.5rem;
  color: #ebbc12;
  text-align: center;
  align-items: center;
}

footer .bi-boxes {
  font-size: 1.5rem;
  color: #ebbc12;
  text-align: center;
  align-items: center;
}

footer .bi-chat-dots-fill {
  font-size: 1.5rem;
  color: #ebbc12;
  text-align: center;
  align-items: center;
}

footer .bi-file-earmark-person-fill {
  font-size: 1.5rem;
  color: #ebbc12;
  text-align: center;
  align-items: center;
}

footer .pie {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 100px) and (max-width: 748px) {
  footer .pie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

footer .animacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  margin-bottom: 1rem;
}

footer .animacion .logoabajo {
  font-size: 60px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

footer .animacion .logoabajo img {
  width: 100%;
  animation: waviy 1.5s infinite;
  animation-delay: calc(.1s * var(--i));
  width: 6rem;
}

footer .waviy {
  text-align: center;
  -webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0, 0, 0, 0.699));
  font-size: 50px;
  justify-content: center;
  margin-bottom: 3rem;
}

footer .waviy span {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  color: whitesmoke;
  text-transform: uppercase;
  animation: waviy 1.5s infinite;
  animation-delay: calc(.1s * var(--i));
  padding: 1px;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@media screen and (min-width: 100px) and (max-width: 748px) {
  footer .waviy {
    display: none;
  }
}

footer .derechos {
  color: whitesmoke;
  text-align: center;
  font-size: 0.6rem;
  padding-bottom: 0.2rem;
  border-right: 1.5rem solid #272a2e;
  border-left: 1.5rem solid #272a2e;
}

@media screen and (min-width: 100px) and (max-width: 748px) {
  footer .derechos {
    padding: 1.5rem;
    padding-bottom: 1;
  }
}

footer .nav {
  font-size: 16px;
  font-family: "Questrial", sans-serif;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-shadow: 2px 2px #212529;
}
/*# sourceMappingURL=recreos.css.map */